//- <!DOCTYPE html>
//- <html>
//-     <head>

//-     </head>
//-     <body>
//-         No. of offfers = ${offers.length} <br> No. of offfers = ${requests.length}
//-     </body>
//- </html>

html 
    head
    
    body No. of offfers = #{n_offers}
        br
        | No. of offfers = #{n_requests}